<?xml version="1.0" encoding="utf-8"?>
<xliff xmlns="urn:oasis:names:tc:xliff:document:1.2" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.2" xsi:schemaLocation="urn:oasis:names:tc:xliff:document:1.2 xliff-core-1.2-transitional.xsd">
  <file datatype="xml" original="Menu.xml" source-language="en-US" target-language="ja-JP">
    <header>
      <tool tool-id="mdxliff" tool-name="mdxliff" tool-version="1.0-15c36f0" tool-company="Microsoft" />
      <xliffext:skl_file_name xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">02cd5861-7ce2-4a82-b358-31f8435a0ac54d4b8eda1b128606db24c15ccf8bef79c660ce78.skl</xliffext:skl_file_name>
      <xliffext:version xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">1.2</xliffext:version>
      <xliffext:ms.openlocfilehash xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">4d4b8eda1b128606db24c15ccf8bef79c660ce78</xliffext:ms.openlocfilehash>
      <xliffext:ms.sourcegitcommit xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">d31dc2ede16f6f7bc64e90d9f897ff54c4e3869b</xliffext:ms.sourcegitcommit>
      <xliffext:ms.lasthandoff xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">04/03/2018</xliffext:ms.lasthandoff>
      <xliffext:moniker_ids xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">netframework-4.5.1,netframework-4.5.2,netframework-4.5,netframework-4.6.1,netframework-4.6.2,netframework-4.6,netframework-4.7.1,netframework-4.7</xliffext:moniker_ids>
    </header>
    <body>
      <group id="content" extype="content">
        <trans-unit id="101" translate="yes" xml:space="preserve" uid="T:System.Windows.Controls.Menu">
          <source>Represents a Windows menu control that enables you to hierarchically organize elements associated with commands and event handlers.</source>
          <target state="translated">コマンドおよびイベント ハンドラーに関連付けられている要素を階層的に編成できるようにするための Windows メニュー コントロールを表します。</target>       </trans-unit>
        <trans-unit id="102" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>The <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> control presents a list of items that specify commands or options for an application.</source>
          <target state="translated"><ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph>コントロール コマンドまたはアプリケーションのオプションを指定する項目の一覧が表示されます。</target>       </trans-unit>
        <trans-unit id="103" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>Typically, clicking an item on a menu opens a submenu or causes an application to carry out a command.</source>
          <target state="translated">通常、メニュー項目をクリックするサブメニューを開くか、により、アプリケーションは、コマンドを実行します。</target>       </trans-unit>
        <trans-unit id="104" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source><ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> is an <ph id="ph2">&lt;xref:System.Windows.Controls.ItemsControl&gt;</ph>, which means it can contain a collection of objects of any type (such as string, image, or panel).</source>
          <target state="translated"><ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> <ph id="ph2">&lt;xref:System.Windows.Controls.ItemsControl&gt;</ph>、つまり、任意の型 (文字列、画像、またはパネル) などのオブジェクトのコレクションを含めることができます。</target>       </trans-unit>
        <trans-unit id="105" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>For more information, see the <ph id="ph1">&lt;xref:System.Windows.Controls.ItemsControl&gt;</ph> class.</source>
          <target state="translated">詳細については、<ph id="ph1">&lt;xref:System.Windows.Controls.ItemsControl&gt;</ph> クラスを参照してください。</target>       </trans-unit>
        <trans-unit id="106" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>The <ph id="ph1">&lt;xref:System.Windows.Controls.MenuItem&gt;</ph> is the most common type of item in a <ph id="ph2">&lt;xref:System.Windows.Controls.Menu&gt;</ph>.</source>
          <target state="translated"><ph id="ph1">&lt;xref:System.Windows.Controls.MenuItem&gt;</ph>内の項目の最も一般的な型には、<ph id="ph2">&lt;xref:System.Windows.Controls.Menu&gt;</ph>です。</target>       </trans-unit>
        <trans-unit id="107" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>A <ph id="ph1">&lt;xref:System.Windows.Controls.MenuItem&gt;</ph> can contain child items.</source>
          <target state="translated">A<ph id="ph1">&lt;xref:System.Windows.Controls.MenuItem&gt;</ph>子項目を含めることができます。</target>       </trans-unit>
        <trans-unit id="108" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>The child items will appear in a submenu when the user chooses a parent <ph id="ph1">&lt;xref:System.Windows.Controls.MenuItem&gt;</ph>.</source>
          <target state="translated">親を選択すると、サブメニューに子項目が表示されます<ph id="ph1">&lt;xref:System.Windows.Controls.MenuItem&gt;</ph>です。</target>       </trans-unit>
        <trans-unit id="109" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>Customizing the Menu Control</source>
          <target state="translated">メニュー コントロールのカスタマイズ</target>       </trans-unit>
        <trans-unit id="110" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>To apply the same property settings to multiple <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> controls, use the <ph id="ph2">&lt;xref:System.Windows.FrameworkElement.Style%2A&gt;</ph> property.</source>
          <target state="translated">設定を適用する、同じプロパティを複数<ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph>、コントロールを使用して、<ph id="ph2">&lt;xref:System.Windows.FrameworkElement.Style%2A&gt;</ph>プロパティです。</target>       </trans-unit>
        <trans-unit id="111" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>You can modify the default <ph id="ph1">&lt;xref:System.Windows.Controls.ControlTemplate&gt;</ph> to give the control a unique appearance.</source>
          <target state="translated">既定値を変更することができます<ph id="ph1">&lt;xref:System.Windows.Controls.ControlTemplate&gt;</ph>コントロールの外観を一意にします。</target>       </trans-unit>
        <trans-unit id="112" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>For more information about creating a <ph id="ph1">&lt;xref:System.Windows.Controls.ControlTemplate&gt;</ph>, see <bpt id="p1">[</bpt>Customizing the Appearance of an Existing Control by Creating a ControlTemplate<ept id="p1">](~/docs/framework/wpf/controls/customizing-the-appearance-of-an-existing-control.md)</ept>.</source>
          <target state="translated">作成の詳細については、<ph id="ph1">&lt;xref:System.Windows.Controls.ControlTemplate&gt;</ph>を参照してください<bpt id="p1">[</bpt>、ControlTemplate を作成することで、既存のコントロールの外観のカスタマイズ<ept id="p1">](~/docs/framework/wpf/controls/customizing-the-appearance-of-an-existing-control.md)</ept>です。</target>       </trans-unit>
        <trans-unit id="113" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>To see the parts and states that are specific to the <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph>, see <bpt id="p1">[</bpt>Menu Styles and Templates<ept id="p1">](~/docs/framework/wpf/controls/menu-styles-and-templates.md)</ept>.</source>
          <target state="translated">部分とに固有の状態を表示する、<ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph>を参照してください<bpt id="p1">[</bpt>メニュー スタイルとテンプレート<ept id="p1">](~/docs/framework/wpf/controls/menu-styles-and-templates.md)</ept>です。</target>       </trans-unit>
        <trans-unit id="114" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>Dependency properties for this control might be set by the control’s default style.</source>
          <target state="translated">コントロールの既定のスタイルでは、このコントロールの依存関係プロパティを設定する場合があります。</target>       </trans-unit>
        <trans-unit id="115" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>If a property is set by a default style, the property might change from its default value when the control appears in the application.</source>
          <target state="translated">プロパティが既定のスタイルが設定されている場合は、アプリケーションでコントロールが表示されたら既定値から、プロパティが変更可能性があります。</target>       </trans-unit>
        <trans-unit id="116" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>The default style is determined by which desktop theme is used when the application is running.</source>
          <target state="translated">既定のスタイルは、いるデスクトップ テーマによっては、アプリケーションが実行されている場合は使用が決定されます。</target>       </trans-unit>
        <trans-unit id="117" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>For more information, see <bpt id="p1">[</bpt>Default WPF Themes<ept id="p1">](http://go.microsoft.com/fwlink/?LinkID=158252)</ept>.</source>
          <target state="translated">詳細については、次を参照してください。 <bpt id="p1">[</bpt>WPF テーマの既定の<ept id="p1">](http://go.microsoft.com/fwlink/?LinkID=158252)</ept>します。</target>       </trans-unit>
        <trans-unit id="118" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>Setting a visual property will only have an effect if that property is both present in <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> control's default template and is set by using a .</source>
          <target state="translated">Visual プロパティの設定はのみに効果が場合、このプロパティは、両方に存在<ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph>コントロールの既定のテンプレートとを使用して設定をします。</target>       </trans-unit>
        <trans-unit id="119" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>You can find a list of visual properties in the "Changing the Visual Structure of a Control" section in <bpt id="p1">[</bpt>Customizing the Appearance of an Existing Control by Creating a ControlTemplate<ept id="p1">](~/docs/framework/wpf/controls/customizing-the-appearance-of-an-existing-control.md)</ept>.</source>
          <target state="translated">「を変更する、Visual 構造の制御」 セクションで visual のプロパティの一覧を検索できる<bpt id="p1">[</bpt>、ControlTemplate を作成することで、既存のコントロールの外観のカスタマイズ<ept id="p1">](~/docs/framework/wpf/controls/customizing-the-appearance-of-an-existing-control.md)</ept>です。</target>       </trans-unit>
        <trans-unit id="120" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.#ctor">
          <source>Initializes a new instance of the <ph id="ph1">&lt;see cref="T:System.Windows.Controls.Menu" /&gt;</ph> class.</source>
          <target state="translated"><ph id="ph1">&lt;see cref="T:System.Windows.Controls.Menu" /&gt;</ph> クラスの新しいインスタンスを初期化します。</target>       </trans-unit>
        <trans-unit id="121" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.HandleMouseButton(System.Windows.Input.MouseButtonEventArgs)">
          <source>A <ph id="ph1">&lt;see cref="T:System.Windows.Input.MouseButtonEventArgs" /&gt;</ph> that contains the event data.</source>
          <target state="translated">イベント データを格納している <ph id="ph1">&lt;see cref="T:System.Windows.Input.MouseButtonEventArgs" /&gt;</ph>。</target>       </trans-unit>
        <trans-unit id="122" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.HandleMouseButton(System.Windows.Input.MouseButtonEventArgs)">
          <source>Called when any mouse button is pressed or released.</source>
          <target state="translated">いずれかのマウス ボタンが押されたときまたは解放されたときに呼び出されます。</target>       </trans-unit>
        <trans-unit id="123" translate="yes" xml:space="preserve" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>Gets or sets a value that indicates whether this <ph id="ph1">&lt;see cref="T:System.Windows.Controls.Menu" /&gt;</ph> receives a main menu activation notification.</source>
          <target state="translated">この <ph id="ph1">&lt;see cref="T:System.Windows.Controls.Menu" /&gt;</ph> がメイン メニューのアクティブ化の通知を受け取るかどうかを示す値を取得または設定します。</target>       </trans-unit>
        <trans-unit id="124" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source><ph id="ph1">&lt;see langword="true" /&gt;</ph> if the menu receives a main menu activation notification; otherwise, <ph id="ph2">&lt;see langword="false" /&gt;</ph>.</source>
          <target state="translated">メニューがメイン メニューのアクティブ化の通知を受け取る場合は <ph id="ph1">&lt;see langword="true" /&gt;</ph>。それ以外の場合は <ph id="ph2">&lt;see langword="false" /&gt;</ph>。</target>       </trans-unit>
        <trans-unit id="125" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>The default is <ph id="ph1">&lt;see langword="true" /&gt;</ph>.</source>
          <target state="translated">既定値は、<ph id="ph1">&lt;see langword="true" /&gt;</ph> です。</target>       </trans-unit>
        <trans-unit id="126" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>If there are multiple <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> controls on a page, <ph id="ph2">&lt;xref:System.Windows.Controls.Menu&gt;</ph> controls that should not receive ALT or F10 key notifications should set this property to <ph id="ph3">`false`</ph>.</source>
          <target state="translated">複数ある場合<ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph>、ページ上のコントロール<ph id="ph2">&lt;xref:System.Windows.Controls.Menu&gt;</ph>alt キーか F10 キーの通知を受け取らないようにするコントロールはこのプロパティを設定する必要があります<ph id="ph3">`false`</ph>です。</target>       </trans-unit>
        <trans-unit id="127" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>Dependency Property Information</source>
          <target state="translated">依存プロパティ情報</target>       </trans-unit>
        <trans-unit id="128" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>Identifier field</source>
          <target state="translated">識別子のフィールド</target>       </trans-unit>
        <trans-unit id="129" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>Metadata properties set to <ph id="ph1">`true`</ph></source>
          <target state="translated">メタデータ プロパティに設定します。 <ph id="ph1">`true`</ph></target>       </trans-unit>
        <trans-unit id="130" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>None</source>
          <target state="translated">なし</target>       </trans-unit>
        <trans-unit id="131" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>The following example shows how to use the <ph id="ph1">&lt;xref:System.Windows.Controls.Menu.IsMainMenu%2A&gt;</ph> property to create a <ph id="ph2">&lt;xref:System.Windows.Controls.Menu&gt;</ph> that does not receive activation notification.</source>
          <target state="translated">次の例を使用する方法を示しています、<ph id="ph1">&lt;xref:System.Windows.Controls.Menu.IsMainMenu%2A&gt;</ph>プロパティを作成する、<ph id="ph2">&lt;xref:System.Windows.Controls.Menu&gt;</ph>アクティブ化の通知を受け取りません。</target>       </trans-unit>
        <trans-unit id="132" translate="yes" xml:space="preserve" uid="F:System.Windows.Controls.Menu.IsMainMenuProperty">
          <source>Identifies the <ph id="ph1">&lt;see cref="P:System.Windows.Controls.Menu.IsMainMenu" /&gt;</ph> dependency property.</source>
          <target state="translated"><ph id="ph1">&lt;see cref="P:System.Windows.Controls.Menu.IsMainMenu" /&gt;</ph> 依存関係プロパティを識別します。</target>       </trans-unit>
        <trans-unit id="133" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnCreateAutomationPeer">
          <source>Provides an appropriate <ph id="ph1">&lt;see cref="T:System.Windows.Automation.Peers.MenuAutomationPeer" /&gt;</ph> implementation for this control, as part of the <ph id="ph2">[!INCLUDE[TLA2#tla_winclient](~/includes/tla2sharptla-winclient-md.md)]</ph> automation infrastructure.</source>
          <target state="translated"><ph id="ph2">[!INCLUDE[TLA2#tla_winclient](~/includes/tla2sharptla-winclient-md.md)]</ph> オートメーション インフラストラクチャの一部として、このコントロールに適切な <ph id="ph1">&lt;see cref="T:System.Windows.Automation.Peers.MenuAutomationPeer" /&gt;</ph> を実装します。</target>       </trans-unit>
        <trans-unit id="134" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnCreateAutomationPeer">
          <source>The type-specific <ph id="ph1">&lt;see cref="T:System.Windows.Automation.Peers.AutomationPeer" /&gt;</ph> implementation.</source>
          <target state="translated">型固有の <ph id="ph1">&lt;see cref="T:System.Windows.Automation.Peers.AutomationPeer" /&gt;</ph> 実装。</target>       </trans-unit>
        <trans-unit id="135" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnInitialized(System.EventArgs)">
          <source>An <ph id="ph1">&lt;see cref="T:System.EventArgs" /&gt;</ph> that contains the event data.</source>
          <target state="translated">イベント データを格納している <ph id="ph1">&lt;see cref="T:System.EventArgs" /&gt;</ph>。</target>       </trans-unit>
        <trans-unit id="136" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnInitialized(System.EventArgs)">
          <source>Called when the <ph id="ph1">&lt;see cref="P:System.Windows.FrameworkElement.IsInitialized" /&gt;</ph> property is set to <ph id="ph2">&lt;see langword="true" /&gt;</ph>.</source>
          <target state="translated"><ph id="ph1">&lt;see cref="P:System.Windows.FrameworkElement.IsInitialized" /&gt;</ph> プロパティが <ph id="ph2">&lt;see langword="true" /&gt;</ph> に設定されると呼び出されます。</target>       </trans-unit>
        <trans-unit id="137" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnKeyDown(System.Windows.Input.KeyEventArgs)">
          <source>A <ph id="ph1">&lt;see cref="T:System.Windows.Input.KeyEventArgs" /&gt;</ph> that contains the event data.</source>
          <target state="translated">イベント データを格納している <ph id="ph1">&lt;see cref="T:System.Windows.Input.KeyEventArgs" /&gt;</ph>。</target>       </trans-unit>
        <trans-unit id="138" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnKeyDown(System.Windows.Input.KeyEventArgs)">
          <source>Responds to the <ph id="ph1">&lt;see cref="E:System.Windows.ContentElement.KeyDown" /&gt;</ph> event.</source>
          <target state="translated"><ph id="ph1">&lt;see cref="E:System.Windows.ContentElement.KeyDown" /&gt;</ph> イベントに応答します。</target>       </trans-unit>
        <trans-unit id="139" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)">
          <source>The event data.</source>
          <target state="translated">イベントのデータ。</target>       </trans-unit>
        <trans-unit id="140" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)">
          <source>Handles the <ph id="ph1">&lt;see cref="E:System.Windows.UIElement.TextInput" /&gt;</ph> routed event that occurs when the menu receives text input from any device.</source>
          <target state="translated">メニューがデバイスからテキスト入力を受け取ったときに発生する <ph id="ph1">&lt;see cref="E:System.Windows.UIElement.TextInput" /&gt;</ph> ルーティング イベントを処理します。</target>       </trans-unit>
        <trans-unit id="141" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)">
          <source>This implementation does not change the handled state (the <ph id="ph1">&lt;xref:System.Windows.RoutedEventArgs.Handled%2A&gt;</ph> property) of the <ph id="ph2">&lt;xref:System.Windows.UIElement.TextInput&gt;</ph> event data.</source>
          <target state="translated">この実装では、処理済みの状態は変更されません (、<ph id="ph1">&lt;xref:System.Windows.RoutedEventArgs.Handled%2A&gt;</ph>プロパティ) の<ph id="ph2">&lt;xref:System.Windows.UIElement.TextInput&gt;</ph>イベント データ。</target>       </trans-unit>
        <trans-unit id="142" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)">
          <source>If you override <ph id="ph1">&lt;see cref="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)" /&gt;</ph>, always call the base implementation in your <ph id="ph2">&lt;see cref="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)" /&gt;</ph> implementation.</source>
          <target state="translated">オーバーライドする場合は<ph id="ph1">&lt;see cref="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)" /&gt;</ph>、常の基本実装を呼び出す、<ph id="ph2">&lt;see cref="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)" /&gt;</ph>実装します。</target>       </trans-unit>
        <trans-unit id="143" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)">
          <source>Failure to call the base implementation prevents base classes from handling the event with a class handler, which might change the run-time behavior of the final class.</source>
          <target state="translated">基底の実装の呼び出しに失敗すると、基本クラスが、最終的なクラスの実行時の動作を変更する可能性があります、クラスのハンドラーでイベントを処理できなくなります。</target>       </trans-unit>
        <trans-unit id="144" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)">
          <source>You can call the base implementation either before or after your special handling, depending on your requirements.</source>
          <target state="translated">要件に応じて、特別な処理の前後の基本実装を呼び出すことができます。</target>       </trans-unit>
        <trans-unit id="145" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.PrepareContainerForItemOverride(System.Windows.DependencyObject,System.Object)">
          <source>The element used to display the specified item.</source>
          <target state="translated">指定された項目を表示するために使用する要素。</target>       </trans-unit>
        <trans-unit id="146" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.PrepareContainerForItemOverride(System.Windows.DependencyObject,System.Object)">
          <source>The item to display.</source>
          <target state="translated">表示する項目。</target>       </trans-unit>
        <trans-unit id="147" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.PrepareContainerForItemOverride(System.Windows.DependencyObject,System.Object)">
          <source>Prepares the specified element to display the specified item.</source>
          <target state="translated">指定した要素に指定した項目が表示されるように準備します。</target>       </trans-unit>
        <trans-unit id="148" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Controls.Menu.PrepareContainerForItemOverride(System.Windows.DependencyObject,System.Object)">
          <source>Preparing the element might involve applying styles, setting bindings, and so on.</source>
          <target state="translated">要素の準備可能性があります、バインドの設定、スタイルの適用を必要とします。</target>       </trans-unit>
      </group>
    </body>
  </file>
</xliff>