<?xml version="1.0" encoding="utf-8"?>
<xliff xmlns="urn:oasis:names:tc:xliff:document:1.2" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.2" xsi:schemaLocation="urn:oasis:names:tc:xliff:document:1.2 xliff-core-1.2-transitional.xsd">
  <file datatype="xml" original="Context.xml" source-language="en-US" target-language="ja-JP">
    <header>
      <tool tool-id="mdxliff" tool-name="mdxliff" tool-version="1.0-15c36f0" tool-company="Microsoft" />
      <xliffext:skl_file_name xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">02cd5861-7ce2-4a82-b358-31f8435a0ac51e0c26cb60ed91334efcc1c19a0eb91f6b7992b6.skl</xliffext:skl_file_name>
      <xliffext:version xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">1.2</xliffext:version>
      <xliffext:ms.openlocfilehash xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">1e0c26cb60ed91334efcc1c19a0eb91f6b7992b6</xliffext:ms.openlocfilehash>
      <xliffext:ms.sourcegitcommit xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">d31dc2ede16f6f7bc64e90d9f897ff54c4e3869b</xliffext:ms.sourcegitcommit>
      <xliffext:ms.lasthandoff xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">04/03/2018</xliffext:ms.lasthandoff>
      <xliffext:moniker_ids xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">netframework-4.5.1,netframework-4.5.2,netframework-4.5,netframework-4.6.1,netframework-4.6.2,netframework-4.6,netframework-4.7.1,netframework-4.7,xamarinandroid-7.1,xamarinios-10.8,xamarinmac-3.0</xliffext:moniker_ids>
    </header>
    <body>
      <group id="content" extype="content">
        <trans-unit id="101" translate="yes" xml:space="preserve" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Defines an environment for the objects that are resident inside it and for which a policy can be enforced.</source>
          <target state="translated">オブジェクトが常駐し、ポリシーを適用できる対象となる環境を定義します。</target>       </trans-unit>
        <trans-unit id="102" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>A context is an ordered sequence of properties that define an environment for the objects resident inside it.</source>
          <target state="translated">コンテキストは、常駐のオブジェクトのための環境を定義するプロパティの順序付けられたシーケンスです。</target>       </trans-unit>
        <trans-unit id="103" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Contexts get created during the activation process for objects that are configured to require certain automatic services, such as synchronization, transactions, just-in-time activation, security, and so on.</source>
          <target state="translated">コンテキストは、同期、トランザクション、ジャスト イン タイム アクティベーション、セキュリティなどの特定の自動サービスを要求するように構成されているオブジェクトのアクティベーション プロセス中に作成を取得します。</target>       </trans-unit>
        <trans-unit id="104" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Multiple objects can live inside a context.</source>
          <target state="translated">1 つのコンテキスト内に複数のオブジェクトを常駐させることができます。</target>       </trans-unit>
        <trans-unit id="105" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Classes are marked with an instance of the <ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.ContextAttribute&gt;</ph> class, which provides the usage rules.</source>
          <target state="translated">インスタンスとクラスがマークされている、<ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.ContextAttribute&gt;</ph>使用状況規則を提供するクラス。</target>       </trans-unit>
        <trans-unit id="106" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Whenever a new object is instantiated, the .NET Framework finds a compatible or creates a new instance of the <ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.Context&gt;</ph> class for the object.</source>
          <target state="translated">.NET Framework を互換性のあるを検索またはの新しいインスタンスを作成、新しいオブジェクトをインスタンス化されるたびに、<ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.Context&gt;</ph>オブジェクトのクラスです。</target>       </trans-unit>
        <trans-unit id="107" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Once an object is placed in a context, it stays in it for life.</source>
          <target state="translated">コンテキスト内でオブジェクトが格納されるで使用することにとどまります。</target>       </trans-unit>
        <trans-unit id="108" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Classes that can be bound to a context are called context-bound classes.</source>
          <target state="translated">コンテキストにバインドされるクラスは、コンテキスト バインド クラスと呼ばれます。</target>       </trans-unit>
        <trans-unit id="109" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>When accessed from another context, such classes are referenced directly by using a proxy.</source>
          <target state="translated">別のコンテキストからアクセスをするときに、このようなクラスは、プロキシを使用して直接参照されます。</target>       </trans-unit>
        <trans-unit id="110" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Any call from an object in one context to an object in another context will go through a context proxy and be affected by the policy that the combined context properties enforce.</source>
          <target state="translated">1 つのコンテキスト内のオブジェクトから別のコンテキスト内のオブジェクトへのすべての呼び出しでは、コンテキストのプロキシを通過し、コンテキスト プロパティの組み合わせを適用するポリシーによって影響を受けます。</target>       </trans-unit>
        <trans-unit id="111" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>A new object's context is generally chosen based on meta-data attributes on the class.</source>
          <target state="translated">新しいオブジェクトのコンテキストは、通常、クラスのメタデータ属性に基づいてが選択されます。</target>       </trans-unit>
        <trans-unit id="112" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>This mechanism is extensible through custom attributes.</source>
          <target state="translated">このメカニズムは、カスタム属性を使用して拡張できます。</target>       </trans-unit>
        <trans-unit id="113" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>These are known as static-context properties, which are compiled into the class meta-data.</source>
          <target state="translated">これらは、クラス メタデータにコンパイルされる、静的なコンテキスト プロパティと呼ばれます。</target>       </trans-unit>
        <trans-unit id="114" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Dynamic-context properties (also known as configuration properties) can be applied and configured by administrators.</source>
          <target state="translated">動的コンテキスト プロパティ (構成プロパティとも呼ばれます) を適用し、管理者によって構成します。</target>       </trans-unit>
        <trans-unit id="115" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>For more information on contexts, see <bpt id="p1">[</bpt>&amp;#91;<ph id="ph1">\&lt;</ph>topic://cpconboundariesprocessesapplicationdomainscontexts&gt;&amp;#93;<ept id="p1">](http://msdn.microsoft.com/library/7574180d-70df-44b8-8b78-55a119f2c96d)</ept>.</source>
          <target state="translated">コンテキストの詳細については、次を参照してください。 <bpt id="p1">[</bpt> &amp;#91; <ph id="ph1">\&lt;</ph>topic://cpconboundariesprocessesapplicationdomainscontexts &gt;&amp;#93;<ept id="p1">](http://msdn.microsoft.com/library/7574180d-70df-44b8-8b78-55a119f2c96d)</ept>です。</target>       </trans-unit>
        <trans-unit id="116" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.#ctor">
          <source>Initializes a new instance of the <ph id="ph1">&lt;see cref="T:System.Runtime.Remoting.Contexts.Context" /&gt;</ph> class.</source>
          <target state="translated"><ph id="ph1">&lt;see cref="T:System.Runtime.Remoting.Contexts.Context" /&gt;</ph> クラスの新しいインスタンスを初期化します。</target>       </trans-unit>
        <trans-unit id="117" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateDataSlot">
          <source>Allocates an unnamed data slot.</source>
          <target state="translated">名前のないデータ スロットを割り当てます。</target>       </trans-unit>
        <trans-unit id="118" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateDataSlot">
          <source>A local data slot.</source>
          <target state="translated">ローカル データ スロット。</target>       </trans-unit>
        <trans-unit id="119" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateDataSlot">
          <source>The slot is allocated on all the contexts.</source>
          <target state="translated">スロットは、すべてのコンテキストに割り当てられます。</target>       </trans-unit>
        <trans-unit id="120" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateNamedDataSlot(System.String)">
          <source>The required name for the data slot.</source>
          <target state="translated">データ スロットに必要な名前。</target>       </trans-unit>
        <trans-unit id="121" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateNamedDataSlot(System.String)">
          <source>Allocates a named data slot.</source>
          <target state="translated">名前付きデータ スロットを割り当てます。</target>       </trans-unit>
        <trans-unit id="122" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateNamedDataSlot(System.String)">
          <source>A local data slot object.</source>
          <target state="translated">ローカル データ スロット オブジェクト。</target>       </trans-unit>
        <trans-unit id="123" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateNamedDataSlot(System.String)">
          <source>The slot is allocated on all the contexts.</source>
          <target state="translated">スロットは、すべてのコンテキストに割り当てられます。</target>       </trans-unit>
        <trans-unit id="124" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateNamedDataSlot(System.String)">
          <source>Named data slots are public and can be manipulated by anyone.</source>
          <target state="translated">名前付きデータ スロットは、パブリックし、すべてのユーザーによって操作されることができます。</target>       </trans-unit>
        <trans-unit id="125" translate="yes" xml:space="preserve" uid="P:System.Runtime.Remoting.Contexts.Context.ContextID">
          <source>Gets the context ID for the current context.</source>
          <target state="translated">現在のコンテキストのコンテキスト ID を取得します。</target>       </trans-unit>
        <trans-unit id="126" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Runtime.Remoting.Contexts.Context.ContextID">
          <source>The context ID for the current context.</source>
          <target state="translated">現在のコンテキストのコンテキスト ID。</target>       </trans-unit>
        <trans-unit id="127" translate="yes" xml:space="preserve" uid="P:System.Runtime.Remoting.Contexts.Context.ContextProperties">
          <source>Gets the array of the current context properties.</source>
          <target state="translated">現在のコンテキスト プロパティの配列を取得します。</target>       </trans-unit>
        <trans-unit id="128" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Runtime.Remoting.Contexts.Context.ContextProperties">
          <source>The current context properties array; otherwise, <ph id="ph1">&lt;see langword="null" /&gt;</ph> if the context does not have any properties attributed to it.</source>
          <target state="translated">現在のコンテキスト プロパティの配列。コンテキストに属性付きのプロパティがない場合は <ph id="ph1">&lt;see langword="null" /&gt;</ph>。</target>       </trans-unit>
        <trans-unit id="129" translate="yes" xml:space="preserve" uid="P:System.Runtime.Remoting.Contexts.Context.DefaultContext">
          <source>Gets the default context for the current application domain.</source>
          <target state="translated">現在のアプリケーション ドメインの既定のコンテキストを取得します。</target>       </trans-unit>
        <trans-unit id="130" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Runtime.Remoting.Contexts.Context.DefaultContext">
          <source>The default context for the <ph id="ph1">&lt;see cref="T:System.AppDomain" /&gt;</ph> namespace.</source>
          <target state="translated"><ph id="ph1">&lt;see cref="T:System.AppDomain" /&gt;</ph> 名前空間の既定のコンテキスト。</target>       </trans-unit>
        <trans-unit id="131" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Runtime.Remoting.Contexts.Context.DefaultContext">
          <source>Every thread in an application domain for which a context is not explicitly set is considered to be running in the default context.</source>
          <target state="translated">すべてのスレッドのコンテキストが明示的に設定されていないアプリケーション ドメインでは、既定のコンテキストで実行されていると見なされます。</target>       </trans-unit>
        <trans-unit id="132" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.DoCallBack(System.Runtime.Remoting.Contexts.CrossContextDelegate)">
          <source>The delegate used to request the callback.</source>
          <target state="translated">コールバックを要求するために使用するデリゲート。</target>       </trans-unit>
        <trans-unit id="133" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.DoCallBack(System.Runtime.Remoting.Contexts.CrossContextDelegate)">
          <source>Executes code in another context.</source>
          <target state="translated">別のコンテキストでコードを実行します。</target>       </trans-unit>
        <trans-unit id="134" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.DoCallBack(System.Runtime.Remoting.Contexts.CrossContextDelegate)">
          <source>A callback can be done by calling the <ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.Context.DoCallBack%2A&gt;</ph> method on it by passing in a delegate.</source>
          <target state="translated">コールバックを呼び出すことによって行うことができます、<ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.Context.DoCallBack%2A&gt;</ph>メソッドをデリゲートに渡すことで。</target>       </trans-unit>
        <trans-unit id="135" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.DoCallBack(System.Runtime.Remoting.Contexts.CrossContextDelegate)">
          <source>The delegate is used to request a callback.</source>
          <target state="translated">デリゲートはコールバックを要求するために使用します。</target>       </trans-unit>
        <trans-unit id="136" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.DoCallBack(System.Runtime.Remoting.Contexts.CrossContextDelegate)">
          <source>The delegate must be a <ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.CrossContextDelegate&gt;</ph> class type.</source>
          <target state="translated">デリゲートである必要があります、<ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.CrossContextDelegate&gt;</ph>クラスの種類。</target>       </trans-unit>
        <trans-unit id="137" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.Finalize">
          <source>Cleans up the backing objects for the nondefault contexts.</source>
          <target state="translated">既定以外のコンテキストのバッキング オブジェクトをクリーンアップします。</target>       </trans-unit>
        <trans-unit id="138" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.Finalize">
          <source>For default contexts, backing objects are cleaned up during shut down of the <ph id="ph1">&lt;xref:System.AppDomain&gt;</ph> class.</source>
          <target state="translated">既定のコンテキストの基になるオブジェクトがクリーンアップ シャット ダウンの最中の<ph id="ph1">&lt;xref:System.AppDomain&gt;</ph>クラスです。</target>       </trans-unit>
        <trans-unit id="139" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.FreeNamedDataSlot(System.String)">
          <source>The name of the data slot to free.</source>
          <target state="translated">解放するデータ スロットの名前。</target>       </trans-unit>
        <trans-unit id="140" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.FreeNamedDataSlot(System.String)">
          <source>Frees a named data slot on all the contexts.</source>
          <target state="translated">すべてのコンテキストの名前付きデータ スロットを解放します。</target>       </trans-unit>
        <trans-unit id="141" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.FreeNamedDataSlot(System.String)">
          <source>Named data slots are public and can be manipulated by anyone.</source>
          <target state="translated">名前付きデータ スロットは、パブリックし、すべてのユーザーによって操作されることができます。</target>       </trans-unit>
        <trans-unit id="142" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.Freeze">
          <source>Freezes the context, making it impossible to add or remove context properties from the current context.</source>
          <target state="translated">コンテキストを固定して、現在のコンテキストに対してコンテキスト プロパティの追加や削除ができないようにします。</target>       </trans-unit>
        <trans-unit id="143" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.Freeze">
          <source>Context properties cannot be added after the context has been frozen.</source>
          <target state="translated">コンテキストが固定された後、コンテキスト プロパティを追加できません。</target>       </trans-unit>
        <trans-unit id="144" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.Freeze">
          <source>The context is already frozen.</source>
          <target state="translated">コンテキストが既に固定されています。</target>       </trans-unit>
        <trans-unit id="145" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetData(System.LocalDataStoreSlot)">
          <source>The data slot that contains the data.</source>
          <target state="translated">データを格納しているデータ スロット。</target>       </trans-unit>
        <trans-unit id="146" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetData(System.LocalDataStoreSlot)">
          <source>Retrieves the value from the specified slot on the current context.</source>
          <target state="translated">現在のコンテキストの指定したスロットから値を取得します。</target>       </trans-unit>
        <trans-unit id="147" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetData(System.LocalDataStoreSlot)">
          <source>Returns the data associated with <ph id="ph1">&lt;paramref name="slot" /&gt;</ph>.</source>
          <target state="translated"><ph id="ph1">&lt;paramref name="slot" /&gt;</ph> に関連付けられているデータを返します。</target>       </trans-unit>
        <trans-unit id="148" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetNamedDataSlot(System.String)">
          <source>The data slot name.</source>
          <target state="translated">データ スロット名。</target>       </trans-unit>
        <trans-unit id="149" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetNamedDataSlot(System.String)">
          <source>Looks up a named data slot.</source>
          <target state="translated">名前付きデータ スロットを検索します。</target>       </trans-unit>
        <trans-unit id="150" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetNamedDataSlot(System.String)">
          <source>Returns a local data slot.</source>
          <target state="translated">ローカル データ スロットを返します。</target>       </trans-unit>
        <trans-unit id="151" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.GetNamedDataSlot(System.String)">
          <source>If the name has not been used, a new slot is allocated.</source>
          <target state="translated">名前が使用されていない場合は、新しいスロットが割り当てられます。</target>       </trans-unit>
        <trans-unit id="152" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.GetNamedDataSlot(System.String)">
          <source>Named data slots are public and can be manipulated by anyone.</source>
          <target state="translated">名前付きデータ スロットは、パブリックし、すべてのユーザーによって操作されることができます。</target>       </trans-unit>
        <trans-unit id="153" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetProperty(System.String)">
          <source>The name of the property.</source>
          <target state="translated">プロパティの名前。</target>       </trans-unit>
        <trans-unit id="154" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetProperty(System.String)">
          <source>Returns a specific context property, specified by name.</source>
          <target state="translated">名前で指定された特定のコンテキスト プロパティを返します。</target>       </trans-unit>
        <trans-unit id="155" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetProperty(System.String)">
          <source>The specified context property.</source>
          <target state="translated">指定されたコンテキスト プロパティ。</target>       </trans-unit>
        <trans-unit id="156" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The dynamic property to register.</source>
          <target state="translated">登録する動的プロパティ。</target>       </trans-unit>
        <trans-unit id="157" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The object/proxy for which the <bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> is registered.</source>
          <target state="translated"><bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> が登録されているオブジェクトまたはプロキシ。</target>       </trans-unit>
        <trans-unit id="158" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The context for which the <bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> is registered.</source>
          <target state="translated"><bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> が登録されているコンテキスト。</target>       </trans-unit>
        <trans-unit id="159" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Registers a dynamic property implementing the <ph id="ph1">&lt;see cref="T:System.Runtime.Remoting.Contexts.IDynamicProperty" /&gt;</ph> interface with the remoting service.</source>
          <target state="translated">リモート処理サービスを使用して <ph id="ph1">&lt;see cref="T:System.Runtime.Remoting.Contexts.IDynamicProperty" /&gt;</ph> インターフェイスを実装する動的プロパティを登録します。</target>       </trans-unit>
        <trans-unit id="160" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source><ph id="ph1">&lt;see langword="true" /&gt;</ph> if the property was successfully registered; otherwise, <ph id="ph2">&lt;see langword="false" /&gt;</ph>.</source>
          <target state="translated">プロパティが正常に登録された場合は <ph id="ph1">&lt;see langword="true" /&gt;</ph>。それ以外の場合は <ph id="ph2">&lt;see langword="false" /&gt;</ph>。</target>       </trans-unit>
        <trans-unit id="161" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Based on <ph id="ph1">`obj`</ph> and <ph id="ph2">`ctx`</ph>, <ph id="ph3">`prop`</ph> is asked to contribute a sink that is placed at some location in the path of remoting calls.</source>
          <target state="translated">基づく<ph id="ph1">`obj`</ph>と<ph id="ph2">`ctx`</ph>、<ph id="ph3">`prop`</ph>はリモート呼び出しのパスのいくつかの場所に配置されているシンクを指定するように依頼します。</target>       </trans-unit>
        <trans-unit id="162" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>If multiple properties are registered, their sinks will be called in an arbitrary order that can change between calls.</source>
          <target state="translated">複数のプロパティが登録されている場合、シンクが呼び出しの間で変更可能な任意の順序で呼び出されます。</target>       </trans-unit>
        <trans-unit id="163" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>If <ph id="ph1">`obj`</ph> is not <ph id="ph2">`null`</ph>, and then if it is a proxy, all calls made on the proxy are intercepted.</source>
          <target state="translated">場合<ph id="ph1">`obj`</ph>は<ph id="ph2">`null`</ph>とし、プロキシがある場合、プロキシで行われたすべての呼び出しが受け取られます。</target>       </trans-unit>
        <trans-unit id="164" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Otherwise, if <ph id="ph1">`obj`</ph> is a real object, all calls on the object are intercepted.</source>
          <target state="translated">それ以外の場合<ph id="ph1">`obj`</ph>実際のオブジェクトは、オブジェクトのすべての呼び出しが受け取られます。</target>       </trans-unit>
        <trans-unit id="165" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The <ph id="ph1">`ctx`</ph> parameter must be <ph id="ph2">`null`</ph>.</source>
          <target state="translated"><ph id="ph1">`ctx`</ph>パラメーターでなければなりません<ph id="ph2">`null`</ph>です。</target>       </trans-unit>
        <trans-unit id="166" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>If <ph id="ph1">`ctx`</ph> is not <ph id="ph2">`null`</ph>, <ph id="ph3">`obj`</ph> must be <ph id="ph4">`null`</ph> and all calls entering and leaving the context are intercepted.</source>
          <target state="translated">場合<ph id="ph1">`ctx`</ph>は<ph id="ph2">`null`</ph>、<ph id="ph3">`obj`</ph>する必要があります<ph id="ph4">`null`</ph>コンテキストを出入りするすべての呼び出しが傍受されたとします。</target>       </trans-unit>
        <trans-unit id="167" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>If both <ph id="ph1">`ctx`</ph> and <ph id="ph2">`obj`</ph> are <ph id="ph3">`null`</ph>, all calls entering and leaving all contexts are intercepted.</source>
          <target state="translated">両方<ph id="ph1">`ctx`</ph>と<ph id="ph2">`obj`</ph>は<ph id="ph3">`null`</ph>、すべてのコンテキストを出入りするすべての呼び出しが受け取られます。</target>       </trans-unit>
        <trans-unit id="168" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Either <ph id="ph1">&lt;paramref name="prop" /&gt;</ph> or its name is <ph id="ph2">&lt;see langword="null" /&gt;</ph>, or it is not dynamic (it does not implement <ph id="ph3">&lt;see cref="T:System.Runtime.Remoting.Contexts.IDynamicProperty" /&gt;</ph>).</source>
          <target state="translated"><ph id="ph1">&lt;paramref name="prop" /&gt;</ph> またはその名前が <ph id="ph2">&lt;see langword="null" /&gt;</ph> であるか、動的ではありません (<ph id="ph3">&lt;see cref="T:System.Runtime.Remoting.Contexts.IDynamicProperty" /&gt;</ph> を実装していません)。</target>       </trans-unit>
        <trans-unit id="169" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Both an object as well as a context are specified (both <ph id="ph1">&lt;paramref name="obj" /&gt;</ph> and <ph id="ph2">&lt;paramref name="ctx" /&gt;</ph> are not <ph id="ph3">&lt;see langword="null" /&gt;</ph>).</source>
          <target state="translated">オブジェクトとコンテキストの両方が指定されています (<ph id="ph1">&lt;paramref name="obj" /&gt;</ph> および <ph id="ph2">&lt;paramref name="ctx" /&gt;</ph> がどちらも <ph id="ph3">&lt;see langword="null" /&gt;</ph> ではありません)。</target>       </trans-unit>
        <trans-unit id="170" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>for plugging code into the CLR infrastructure.</source>
          <target state="translated">コードを CLR インフラストラクチャに接続します。</target>       </trans-unit>
        <trans-unit id="171" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Associated enumeration: <ph id="ph1">&lt;see cref="F:System.Security.Permissions.SecurityPermissionFlag.Infrastructure" /&gt;</ph>.</source>
          <target state="translated"><ph id="ph1">&lt;see cref="F:System.Security.Permissions.SecurityPermissionFlag.Infrastructure" /&gt;</ph> (関連する列挙体)</target>       </trans-unit>
        <trans-unit id="172" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetData(System.LocalDataStoreSlot,System.Object)">
          <source>The data slot where the data is to be added.</source>
          <target state="translated">データの追加先となるデータ スロット。</target>       </trans-unit>
        <trans-unit id="173" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetData(System.LocalDataStoreSlot,System.Object)">
          <source>The data that is to be added.</source>
          <target state="translated">追加対象のデータ。</target>       </trans-unit>
        <trans-unit id="174" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetData(System.LocalDataStoreSlot,System.Object)">
          <source>Sets the data in the specified slot on the current context.</source>
          <target state="translated">現在のコンテキストの指定したスロットにデータを設定します。</target>       </trans-unit>
        <trans-unit id="175" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetProperty(System.Runtime.Remoting.Contexts.IContextProperty)">
          <source>The actual context property.</source>
          <target state="translated">実際のコンテキスト プロパティ。</target>       </trans-unit>
        <trans-unit id="176" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetProperty(System.Runtime.Remoting.Contexts.IContextProperty)">
          <source>Sets a specific context property by name.</source>
          <target state="translated">名前で特定のコンテキスト プロパティを設定します。</target>       </trans-unit>
        <trans-unit id="177" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.SetProperty(System.Runtime.Remoting.Contexts.IContextProperty)">
          <source>Adding properties to the default context is not allowed.</source>
          <target state="translated">既定のコンテキストにプロパティを追加することはできません。</target>       </trans-unit>
        <trans-unit id="178" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetProperty(System.Runtime.Remoting.Contexts.IContextProperty)">
          <source>The context is frozen.</source>
          <target state="translated">コンテキストが固定されています。</target>       </trans-unit>
        <trans-unit id="179" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetProperty(System.Runtime.Remoting.Contexts.IContextProperty)">
          <source>The property or the property name is <ph id="ph1">&lt;see langword="null" /&gt;</ph>.</source>
          <target state="translated">プロパティまたはプロパティ名が <ph id="ph1">&lt;see langword="null" /&gt;</ph> です。</target>       </trans-unit>
        <trans-unit id="180" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.ToString">
          <source>Returns a <ph id="ph1">&lt;see cref="T:System.String" /&gt;</ph> class representation of the current context.</source>
          <target state="translated">現在のコンテキストの <ph id="ph1">&lt;see cref="T:System.String" /&gt;</ph> クラス形式を返します。</target>       </trans-unit>
        <trans-unit id="181" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.ToString">
          <source>A <ph id="ph1">&lt;see cref="T:System.String" /&gt;</ph> class representation of the current context.</source>
          <target state="translated">現在のコンテキストの <ph id="ph1">&lt;see cref="T:System.String" /&gt;</ph> クラス形式。</target>       </trans-unit>
        <trans-unit id="182" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The name of the dynamic property to unregister.</source>
          <target state="translated">登録を解除する動的プロパティの名前。</target>       </trans-unit>
        <trans-unit id="183" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The object/proxy for which the <bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> is registered.</source>
          <target state="translated"><bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> が登録されているオブジェクトまたはプロキシ。</target>       </trans-unit>
        <trans-unit id="184" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The context for which the <bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> is registered.</source>
          <target state="translated"><bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> が登録されているコンテキスト。</target>       </trans-unit>
        <trans-unit id="185" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Unregisters a dynamic property implementing the <ph id="ph1">&lt;see cref="T:System.Runtime.Remoting.Contexts.IDynamicProperty" /&gt;</ph> interface.</source>
          <target state="translated"><ph id="ph1">&lt;see cref="T:System.Runtime.Remoting.Contexts.IDynamicProperty" /&gt;</ph> インターフェイスを実装する動的プロパティの登録を解除します。</target>       </trans-unit>
        <trans-unit id="186" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source><ph id="ph1">&lt;see langword="true" /&gt;</ph> if the object was successfully unregistered; otherwise, <ph id="ph2">&lt;see langword="false" /&gt;</ph>.</source>
          <target state="translated">オブジェクトの登録が正常に解除された場合は <ph id="ph1">&lt;see langword="true" /&gt;</ph>。それ以外の場合は <ph id="ph2">&lt;see langword="false" /&gt;</ph>。</target>       </trans-unit>
        <trans-unit id="187" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The <ph id="ph1">&lt;paramref name="name" /&gt;</ph> parameter is <ph id="ph2">&lt;see langword="null" /&gt;</ph>.</source>
          <target state="translated"><ph id="ph1">&lt;paramref name="name" /&gt;</ph> パラメーターが <ph id="ph2">&lt;see langword="null" /&gt;</ph> です。</target>       </trans-unit>
        <trans-unit id="188" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Both an object as well as a context are specified (both <ph id="ph1">&lt;paramref name="obj" /&gt;</ph> and <ph id="ph2">&lt;paramref name="ctx" /&gt;</ph> are not <ph id="ph3">&lt;see langword="null" /&gt;</ph>).</source>
          <target state="translated">オブジェクトとコンテキストの両方が指定されています (<ph id="ph1">&lt;paramref name="obj" /&gt;</ph> および <ph id="ph2">&lt;paramref name="ctx" /&gt;</ph> がどちらも <ph id="ph3">&lt;see langword="null" /&gt;</ph> ではありません)。</target>       </trans-unit>
        <trans-unit id="189" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>for plugging code into the CLR infrastructure.</source>
          <target state="translated">コードを CLR インフラストラクチャに接続します。</target>       </trans-unit>
        <trans-unit id="190" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Associated enumeration: <ph id="ph1">&lt;see cref="F:System.Security.Permissions.SecurityPermissionFlag.Infrastructure" /&gt;</ph>.</source>
          <target state="translated"><ph id="ph1">&lt;see cref="F:System.Security.Permissions.SecurityPermissionFlag.Infrastructure" /&gt;</ph> (関連する列挙体)</target>       </trans-unit>
      </group>
    </body>
  </file>
</xliff>